* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: hsla(144, 24%, 4%, 1);
    --bg-color-secondary: hsla(84, 12%, 8%, 1);
    --accent-color-primary: hsla(1, 60%, 40%, 1);
    --accent-color-secondary: hsla(3, 61%, 35%, 1);
}